.cpuSwiper {
  margin: 20px 0;
}

.product-slide {
  display: flex;
  flex-direction: column; /* 세로 방향 정렬 */
  align-items: center; /* 중앙 정렬 */
  text-align: center;
}

.product-image img {
  width: 100px; /* 이미지 너비 조정 */
  height: 100px; /* 이미지 높이 조정 */
  object-fit: cover; /* 이미지 비율 유지 */
  border-radius: 8px; /* 둥근 모서리 */
  margin-bottom: 10px;
}

.product-info {
  margin-top: 10px;
}

.product-name {
  font-size: 1rem;
  font-weight: bold;
  color: #333;
}

.product-price {
  font-size: 0.9rem;
  color: #777;
}
