# Node.js 관련
node_modules/
.cache/
#/src/main/resources/application.properties
#/src/main/java/com/kh/MINI/config
# Gradle 빌드 파일
/build/
.gradle/
# Git LFS로 관리할 수 있는 대용량 파일 예시
*.pack

# 운영체제 및 IDE 관련
.DS_Store
.idea/
.vscode/
*.log

# 빌드 출력물
dist/
build/